body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {
  background-image: url('https://cdn.wallpapersafari.com/26/53/9xLy1r.jpg');
  min-height: 100%;
  background-position: center;
  background-size: cover;
}

/* social media buttons */

.fab {
  /* padding: 10px;
  font-size: 200%;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 1px;
  border-radius: 50%; */
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook-f {
  color: white;
}

.fa-google {
  color: white;
}

.fa-linkedin-in {
  color: white;
}

.fa-instagram {
  color: white;
}
