

/* Homepage font and settings */
body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {
  background-image: url('Artistic-4K-Wallpaper-3840x2160.jpg');
  min-height: 100%;
  background-position: center;
  background-size: cover;
}

.development{
  text-align: center;
  font-size: 15px;
  color:tomato;
  border: 2px solid
}
/* social media buttons */
.w3-jumbo{
  text-align: center;
}
.w3-animate-top{
  font-family: "Raleway", sans-serif;
  background: linear-gradient(to right, tomato,
  #cf23cf, teal, #eedd44, orange);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

#date-time{
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 15px;
	font-weight:  100;
	letter-spacing: 2px;
	text-align: center;
	color: #f35626;
	background-image: -webkit-linear-gradient(92deg, tomato, rgba(253, 210, 173, 0.774), rgba(255, 166, 0, 0.753));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-animation: hue 10s infinite linear;
}

@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}

.fab {
  font-size: 130%;
  text-decoration: none;
  margin-right: 20px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook-f {
  color: pink;
}

.fa-google {
  color: orange;

}

.fa-linkedin-in {
  color: teal;

}

.fa-instagram {
  color: tomato;

}
.fa-github{
  color: peachpuff;
 

}

.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-y: hidden;
  transition: 0.5s;
  background: linear-gradient(-45deg, rgb(245, 166, 76), teal, peachpuff );
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 120%;
  color: rgb(21,21,21);
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}