	/* Light Mode Button
		--------------------------- */ 

		.light-mode-button {
			background:0;
		    border: 0;
		    box-sizing: border-box;
		    cursor: pointer;
		    width: 30px;
		    height: 16px;
		    position: relative;
		    border: 1px solid rgba(255,255,255,0);

		   
		    position: fixed;
		    top:16px;
		    right:16px;
		}

		.light-mode-button:focus {
			outline:none; /* Not ideal for accessibility */
		}

		.light-mode-button span:nth-child(1) {
			position: absolute;
			top:0;
		    left:0;
		    width: 30px;
		    height:16px;
		    background-color: #d6d7db;
		    border-radius: 9px;
		    box-shadow: inset 1px 1px 3px 0 rgb(0 0 0 / 40%);
		    transition: .3s;
		}

		.light-mode-button span:nth-child(2) {
			position: absolute;
			top:3px;
		    left:3px;
		    width: 10px;
		    height: 10px;
		    background-color: #fff;
		    border-radius: 50%;
		    box-shadow: 1px 1px 2px 0 rgb(0 0 0 / 40%);
		    transition: .3s;
		}


		/* Light & Dark Mode Styles
		--------------------------- */ 

		body {
			background-color: #f6f6f6;
            transition: background-color .3s;
        }

		body[light-mode=dark] {
            background-color: #141516;
            color: #ced4e2;
        }

        body[light-mode="dark"] .light-mode-button span:nth-child(1){
            background-color: #ced4e2;
            color: #141516;
        }

        body[light-mode=dark] .light-mode-button  span:nth-child(2) {
		    left: 17px;
		    background-color: #141516;
		}

    .main-box{
      border: 1px solid;
    }


    .overlay {
      height: 0%;
      width: 100%;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      overflow-y: hidden;
      transition: 0.5s;
      background: linear-gradient(-45deg, rgb(245, 166, 76), teal, peachpuff );
      background-size: 400% 400%;
      animation: gradient 15s ease infinite;
    }
    
    @keyframes gradient {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    }
    
    
    .overlay-content {
      position: relative;
      top: 25%;
      width: 100%;
      text-align: center;
      margin-top: 30px;
    }
    
    .overlay a {
      padding: 8px;
      text-decoration: none;
      font-size: 120%;
      color: rgb(21,21,21);
      display: block;
      transition: 0.3s;
    }
    
    .overlay a:hover, .overlay a:focus {
      color: #f1f1f1;
    }
    
    .overlay .closebtn {
      position: absolute;
      top: 20px;
      right: 45px;
      font-size: 60px;
    }
    
    @media screen and (max-height: 450px) {
      .overlay {overflow-y: auto;}
      .overlay a {font-size: 20px}
      .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
      }
    }